
.white-text{
color: antiquewhite;
}
#displaydetails{
    position: relative;
  bottom: 5px;
  border: 3px solid #73AD21;
}
#dp{
    position: relative;
  bottom: -25px;
  right :170px;
  border: 3px solid;
}
#pswd{
    position: fixed;
   bottom:450px;
     
}
#lt{
  position: relative;
  top:25px;
}